* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family:'Courier New', Courier, monospace;
}

h1 {
    font-family:'Courier New', Courier, monospace;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 15vh;
    padding: 0 30px;
    background-color: blueviolet;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.nav {
    display: flex;
    gap: 20px;
}

.button {
    width: 20vw;
    height: 13vh;
    background-color: blueviolet;
    border: 1px rgba(0, 0, 0, 0.378) solid;    
    font-size: 30px;
    font-weight: 800;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(101, 24, 173);
}