* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family:'Courier New', Courier, monospace;
}

h1 {
    font-family:'Courier New', Courier, monospace;
}

/* ------------- header ------------------- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 100%;
    min-width: calc(300px + 2vw);
    height: 100%;
    padding: 10px 5% ;
    background-color: blueviolet;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.nav {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    gap: 2vw;
}

.button {
    width: 20vw;
    min-width: 110px;
    min-height: 30px;
    height: 13vh;
    background-color: blueviolet;
    border: 1px rgba(0, 0, 0, 0.378) solid;    
    padding: 5px;
    font-size: clamp(18px, 2.2vw, 2em);
    font-weight: 800;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(101, 24, 173);
}
/* ------------- main ------------------- */
.main {
    /* flex: 1; */
}

.tarifs-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    width: 100%;
    margin: 0 auto;

    place-items: center;
    padding: 5%;
}

.card {
    width: 20vw;
    min-width: 300px;
    min-height: 400px;
    height: 30vw;
    background-color: rgb(250, 240, 220);
    border: 1px black solid;

    font-weight: 700;
    font-size: 15px;
}



.footer {
    width: 100vw;
    height: 15vh;
    background-color: blueviolet;
}

/* -------------  Медиазапросы  ------------ */

@media (width <= 800px) and (width > 400px) {
    .header {
        padding: 3vw;
        gap: 10px;
        flex-direction: column;
    }
    
    .button {
        width: 30vw;
    }
}


@media (width <= 400px) {
    .header {
        gap: 10px;
        flex-direction: column;
    }

    .nav {
        grid-template-columns: 1fr;
    }

    .button {
        width: 80vw;
    }
}